<main>
  <form method="post">
    <h1 class="h3 mb-3 fw-normal">Please enter new password</h1>
    {{range .Errors}}
    <div class="alert alert-danger" role="alert">
      {{.Error}}
    </div>
    {{end}}
    <input type="hidden" name="code" value="{{.Code}}">
    <div class="form-floating">
      <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating">
      <input type="password" name="confirm_password" class="form-control" id="floatingConfirmPassword" placeholder="Confirm Password">
      <label for="floatingConfirmPassword">Confirm Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
  </form>
</main>
